@tailwind base;
@tailwind components;
@tailwind utilities;



/* animate Btn */
.bg-login{
    background-image: url("./assets/images/Bg-login.png");   
    background-repeat: no-repeat;
    background-size: cover;
}
.login-btn{
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
}
.login-btn:active{
    transform: scale(0.96);
}
.login-btn::before,
.login-btn::after{
    content: "";
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    height: 100%;
    width: 150%;
    z-index: -1;
    background-repeat: no-repeat;
}
.login-btn.animateBtn::before{
    top: -70%;
    background-image: radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,transparent 20%, #22c55e 20% , transparent 30% ),
    radial-gradient(circle, #22c55e 20% , transparent 20% ),
    radial-gradient(circle,transparent 10% , #22c55e 15% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% );

    background-size: 10% 10%,20% 20%, 15% 15%,20% 20%, 18% 18%, 10% 10% ,15% 15%,10% 10% ,18% 18%;
    background-position: 5% 90%,10% 90%,10% 90%,15% 90%, 25% 90%, 25% 90%,40% 90%,55% 90%,70% 90%;
    animation: topBubbles 0.6s ease-in-out forwards;
}
@keyframes topBubbles{
    50% {
        background-position: 0% 80%,0% 20%, 10% 40%, 20% 0, 30% 30%,22% 50%,50% 50%, 65% 20%,90% 30%;
    }
    100%{
        background-position: 0% 70%,0% 10%, 10% 30%, 20% -10%, 30% 20%,22% 40%,50% 40%, 65% 10%,90% 20%;
        background-size: 0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%;
    }
}
.login-btn.animateBtn::after{
    bottom: -70%;
    background-image: radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,transparent 20%, #22c55e 20% , transparent 30% ),
    radial-gradient(circle, #22c55e 20% , transparent 20% ),
    radial-gradient(circle,transparent 10% , #22c55e 15% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% ),
    radial-gradient(circle,#22c55e 20% , transparent 20% );

    background-size: 15% 15%,20% 20%, 18% 18%, 20% 20% ,15% 15%,20% 20%, 18% 18%;
    background-position: 10% 0%,30% 10%,55% 0%,70% 0%, 85% 0%, 70% 0%,70% 0;
    animation: bottomBubbles 0.6s ease-in-out forwards;
}
@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%,20% 80%, 45% 60%, 60% 100, 75% 70%,95% 60%,105% 0%;
    }
    100%{
        background-position: 0% 90%,20% 90%, 45% 70%, 60% 110%, 75% 80%,95% 70%,110% 10%;
        background-size: 0% 0%,0% 0%,0% 0%,0% 0%,0% 0%,0% 0%;
    }
}

/* Animate btn */


.login-bg{
    background: linear-gradient(180deg, #3333A3 5.09%, #121212 33.4%);
}
.navigateBtn{
    background-color: rgba(0, 0, 0, 50%);
}
.bg-item{
    background-color: rgba(0, 0, 0, 10%);
    
}
.music-card-item{
    min-width: 224px;
    background-color: rgba(0, 0, 0, 41%);

}
.single-bg{
    background: linear-gradient(180deg, #DEF628 5.09%, #121212 43.28%);

}
.singleArtistInfo{
    box-shadow: 10px 0px 10px 5px black;
}